In [2]:
import psycopg2
import configparser
import os
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
config = configparser.ConfigParser()
config.read_file(open(os.path.join('..', 'dwh.cfg')))

connection_url = 'postgresql+psycopg2://{user}:{password}@{host}:{port}/{dbname}'.format(**dict(config.items("DB")))

In [4]:
%sql $connection_url

In [5]:
%sql SELECT DISTINCT tablename FROM PG_TABLE_DEF WHERE schemaname = 'public'

 * postgresql+psycopg2://dwhuser:***@dwhcluster.czdudcdrqfuo.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('artists',), ('songplays',), ('songs',), ('times',), ('users',)]

In [6]:
%sql SELECT COUNT(*) FROM staging_events

 * postgresql+psycopg2://dwhuser:***@dwhcluster.czdudcdrqfuo.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedTable) relation "staging_events" does not exist

[SQL: SELECT COUNT(*) FROM staging_events]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [7]:
%sql SELECT COUNT(*) FROM staging_songs

 * postgresql+psycopg2://dwhuser:***@dwhcluster.czdudcdrqfuo.us-west-2.redshift.amazonaws.com:5439/dwh
(psycopg2.errors.UndefinedTable) relation "staging_songs" does not exist

[SQL: SELECT COUNT(*) FROM staging_songs]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [8]:
%sql SELECT COUNT(*) FROM songs

 * postgresql+psycopg2://dwhuser:***@dwhcluster.czdudcdrqfuo.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(14896,)]

In [9]:
%sql SELECT COUNT(*) FROM artists

 * postgresql+psycopg2://dwhuser:***@dwhcluster.czdudcdrqfuo.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(10025,)]

In [10]:
%sql SELECT COUNT(*) FROM users

 * postgresql+psycopg2://dwhuser:***@dwhcluster.czdudcdrqfuo.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(105,)]

In [11]:
%sql SELECT COUNT(*) FROM songplays

 * postgresql+psycopg2://dwhuser:***@dwhcluster.czdudcdrqfuo.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8038,)]

In [12]:
%sql SELECT COUNT(*) FROM times

 * postgresql+psycopg2://dwhuser:***@dwhcluster.czdudcdrqfuo.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[(8023,)]

In [13]:
%sql SELECT * FROM stl_load_errors ORDER BY starttime DESC

 * postgresql+psycopg2://dwhuser:***@dwhcluster.czdudcdrqfuo.us-west-2.redshift.amazonaws.com:5439/dwh
0 rows affected.

[]